@{
}

@model burialmain
<div class="card m-2">
    <div class="card-header bg-dark text-light">
        <h5 class="mb-0">Burial ID: @Model.burialidcomp</h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <p><strong>Hair Color:</strong></p>
                <p class="card-text">@Model.haircolor</p>
            </div>
            <div class="col-md-2">
                <p><strong>Age at Death:</strong></p>
                <p class="card-text">@Model.ageatdeath</p>
            </div>
            <div class="col-md-2">
                <p><strong>Head Direction:</strong></p>
                <p class="card-text">@Model.headdirection</p>
            </div>
            <div class="col-md-2">
                <p><strong>Sex:</strong></p>
                <p class="card-text">@Model.sex</p>
            </div>
            <div class="col-md-2">
                <p><strong>Burial Depth:</strong></p>
                <p class="card-text">@Model.depth</p>
            </div>
            <div class="col-md-2">
                <p><strong>Mummmy Stature:</strong></p>
                <p class="card-text">@Model.length</p>
            </div>
           
        </div>
    </div>

    <div class="card-footer">
        <form method="post" asp-controller="Home" asp-action="BurialDetail" asp-route-burialidcomp="@Model.burialidcomp">
            <input type="hidden" asp-for="@Model.burialidcomp" />
            <button type="submit" class="btn btn-outline-primary float-end">View Details</button>
        </form>
    </div>
</div>


