@model IEnumerable<string>

   

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hair Color
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var hc in Model)
            {
                <a class="dropdown-item" asp-controller="Home" asp-action="CRUD"
                asp-route-hairColor="@hc"
                asp-route-ageAtDeath="@ViewBag.SelectedAgeAtDeath"
                asp-route-burialDepth="@ViewBag.SelectedBurialDepth"
                asp-route-bSex="@ViewBag.SelectedSex"
                asp-route-stature="@ViewBag.SelectedLength"
           asp-route-headDirection="@ViewBag.SelectedHeadDirection"
                asp-route-pageNum="1">@hc</a>
            }
        </div>
    </div>








