@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sex
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var sex in Model)
        {

    <a class="dropdown-item" asp-controller="Home" asp-action="Burials"
       asp-route-hairColor="@ViewBag.SelectedHairColor"
       asp-route-ageAtDeath="@ViewBag.SelectedAgeAtDeath"
       asp-route-burialDepth="@ViewBag.SelectedBurialDepth"
       asp-route-bSex="@sex"
       asp-route-stature="@ViewBag.SelectedLength"
           asp-route-headDirection="@ViewBag.SelectedHeadDirection"
       asp-route-pageNum="1">@sex</a>
   
}

</div>
</div>